<!DOCTYPE html>
<html lang="en">

<head>
    <title>Api Lab</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <div class="api-cntrl">
        <input id="api-url" class="inpt" type="text" placeholder="Api Url" autocomplete="off">
        <select name="api-type" id="api-type" class="api-select">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="PATCH">PATCH</option>
            <option value="DELETE">DELETE</option>
        </select>
        <div id="api-send" class="api-button">Send</div>
    </div>
    <!-- <div class="api-cntrl"><input id="header-1" class="inpt head" type="text" placeholder="Header" autocomplete="off"><input id="header-2" class="inpt head" type="text" placeholder="Header" autocomplete="off"></div>-->
    <div class="out-cnt">
        <div id="output" class="api-otpt">Output</div>
    </div>
</body>
<script src="/static/scripts/script.js"></script>

</html>