<!DOCTYPE html>
<html lang="en">

<head>
    <title>Api Lab</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <div class="api-cntrl">
        <input id="api-url" class="api-url" type="text" placeholder="Api Url" autocomplete="off">
        <select name="api-type" id="api-type" class="api-select">
            <option value="get">GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="patch">PATCH</option>
            <option value="delete">DELETE</option>
        </select>
        <div id="api-send" class="api-button">Send</div>
    </div>
</body>

</html>